*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #ccc;
    display: flex;
    flex-direction: column;
}   

.hero{
    height: 100vh;
    background: url('img/fundo.jpg') center/cover no-repeat;
    
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    position:relative;
    z-index: 2;
    color: rgb(37, 18, 202);
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.side{
    position: absolute;
    top: 0;
    width: 60px;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);

}

.left{
    left: 0;
}

.right{
    right: 0;
}



header{
    background: #222020;
    color:white;
    padding: 30px 20px;
    text-align: center;
    
}

section{
    padding: 60px 20px;
}

section > *{
    max-width: 900px;
    margin: auto;
}

h2{
    color: #41ad9f;
    margin-bottom: 20px;
    text-align:center;
}

ul{
    list-style: none;
    padding:0;

}
ul li{
    background: rgb(255, 255, 255);
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 6px;
}