*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    line-height: 1.6;     /* melhor altura */
    background-color: #f4f4f4;
    color: #333;
}

header{
    background-color: #4CAF50;
    color: white;
    padding: 20px;  
    text-align: center;

}
section{
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);    
}

h2{
    color: #4CAF50;
}

ul{
    list-style: none;
}

ul li{
    margin: 10px 0;
}

button{
    background-color: #4CAF50;
    color: white;
    padding: 10px;
}